* {
  margin: 0;
  padding: 0;
  background-color: hsl(216, 50%, 16%);
  font-family: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
}

.nft-width {
  max-width: 400px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
}
.nft {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  overflow: none;
  box-shadow: 10px 10px 90px #000;
}

.nft h1:hover {
  color: #00fff8;
  cursor: pointer;
}

.nft h1 {
  margin: 10px 0;
  font-size: bold;
  font-weight: 200;
}

img {
  width: 250px;
}

.ok {
  width: 10px !important;
}

.ethi {
  width: 15px;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.others {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.first-row {
  color: #00fff8;
}

hr {
  height: 1px;
  border-width: 0;
  color: rgba(255, 255, 255/ 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

.otherz {
  display: flex;
  justify-content: left;
  padding: 5% 0;
  gap: 8px;
}

.top {
  width: 100%;
}

.top:hover {
  cursor: pointer;
}

h1 {
  color: #fff;
  font-size: bold;
  font-weight: 300;
}

span {
  color: #fff;
}

span:hover {
  color: #00fff8;
  cursor: pointer;
}

/* *MOBILE VIEW */
