* {
  margin: 0;
  padding: 0;
  background-color: hsl(216, 50%, 16%);
  font-family: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
}
/*
section {
  position: relative;
}
.container {
  font-weight: 900;
  margin: 5% 20%;
}

.content {
  text-align: center;
  margin: 5% 30% 10%;
  border-radius: 2%;
  box-shadow: 10px 10px 90px #000;
  padding: 6%;
}

img {
  margin: -15%;
  width: 120%;
}

h1 {
  color: white;
  margin: 20% 0 2%;
  margin-left: -12%;
  text-align: left;
  font-size: 18px;
  font-weight: bolder;
}

p {
  color: rgba(255, 255, 255, 0.541);
  margin: 5% 0 2%;
  margin-left: -12%;

  text-align: left;
  font-size: bold;
  font-weight: 500;
}

.img-box {
  position: absolute;
  top: 67%;
  left: 38.5%;
  margin: 1%;
  width: 8px;
}

.write-up {
  position: absolute;
  top: 68.5%;
  left: 41%;
}

.write-up p {
  color: hsl(178, 100%, 50%);
  font-size: small;
  font-weight: 100;
}

.time-bg {
  position: absolute;
  top: 69.5%;
  right: 44.5%;
  width: 12px;
}

.time-write {
  position: absolute;
  top: 69.3%;
  right: 39.5%;
}

.time-write p {
  font-size: small;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.541);
}

.line {
  margin: 30%;
  width: 90%;
}

.last-img {
  width: 2%;
  display: inline-flexbox;
  justify-content: space-between;
  position: absolute;
  bottom: 80%;
}

.Creation {
  margin-top: 0;
  margin-left: 20%;
} */

.nft-width {
  max-width: 400px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
}
.nft {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  overflow: none;
  box-shadow: 10px 10px 90px #000;
}
img {
  width: 250px;
}
.ok {
  width: 10px !important;
}
.ethi {
  width: 15px;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.others {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.first-row {
  color: #00fff8;
}
hr {
  height: 1px;
  border-width: 0;
  color: rgba(255, 255, 255/ 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}
.otherz {
  display: flex;
  justify-content: left;
  padding: 5% 0;
  gap: 8px;
}

.top {
  width: 100%;
}

h1 {
  color: #fff;
  font-size: bold;
  font-weight: 300;
}
